.html {
    margin: 0;
    padding: 0;
}

.error-list {
    font-size: 1.1em;
}

.backup-view {
    margin: auto;
    padding: 12px;
    width: 90%;
    min-height: 
    border: 1px outset black;
    border-radius: 5px;
    box-shadow: 2px 2px 6px black;
}
