{% extends 'ps4/layout.html' %}

{% block content %}
    <h1 class="center">Download</h1>
    <div class="divide"></div>
    <div class="container">
        <h5 class="center">Here you can download our project.</h5>
        <br/>
        <div class="divider"></div>
        <div class="v1">
            <h4 class="center">Packup System 4 Version 1.0</h4>
            <br/>
            <div class="container">
                <div class="card-panel">
                    <p>
                        <p class="center">Content:</p>
                        <ul class="collection">
                            <li class="collection-item">README <a
                                    href="/static/zip/README-v1.md">View</a></li>
                            <li class="collection-item">packup</li>
                        </ul>
                    </p>
                </div>
            </div>
            <br/>
            <div class="container center">
                <a class="waves-effect waves-light btn"
                   href="/static/zip/packup-v1.zip"><i
                   class="material-icons left">file_download</i>Download</a>
            </div>
        </div>
        <br/>
        <div class="divider"></div>
    </div>

{% endblock %}
